*.py[cod]
*.egg-info

dist
node_modules

inyoka_theme_ubuntuusers/static/img/forum-sprite1-*.png
inyoka_theme_ubuntuusers/static/img/header-sprite-*.png
inyoka_theme_ubuntuusers/static/img/icons/editor-sprite-*.png
