*.css
*.egg-info
*.gz
*.min.js
*.py[cod]

dist
node_modules

inyoka_theme_ubuntuusers/static/img/*-sprite.png
inyoka_theme_ubuntuusers/static/style/*-sprite.less

!inyoka_theme_ubuntuusers/static/js/jquery.min.js
!inyoka_theme_ubuntuusers/static/js/jquery.ba-hashchange.min.js
!inyoka_theme_ubuntuusers/static/js/jquery.cookie.min.js
