name: Inyoka Theme CI

on: [push, pull_request]


jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9, 3.x, pypy-3.9]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
        pip install -r tests/requirements.txt

    - name: Test template syntax
      run: |
        tests/runtests.sh


    - name: Test npm
      run: |
       npm ci
       npm run all
